@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer ViewLocalizer

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>UsingIViewLocalizer</title>
    </head>
    <body>
        <h1>@ViewLocalizer["localizedUsingIViewLocalizer"]</h1>
    </body>
</html>